*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}
.imageContainer{
    text-align: center;
}
.imageContainer img{
    height: 400px;
    width: 350px;
    background-size: cover;
    margin: 10px;
    border-radius: 8px;
}
.loadMore{
    padding: 15px 25px;
    background-color: rgb(75, 10, 136);
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: 1px solid blueviolet;
    transition: .4s;
    box-shadow: 0 6px 50px black;
    margin-top: 15px;
    margin-bottom: 20px;
}
.loadMore:hover{
    background-color: transparent;
    color: blueviolet;
}