*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 930px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element-container{
    width: 800px;
    padding: 40px;
    background-color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

input{
    width: 100px;
    height: 40px;
    padding: 0 10px;
}