*{
    margin: 0;
    padding: 0;
}
div{
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
span{
    height: 100px;
    width: 100px;
    background: url(heart.svg);
    background-size: contain;
    animation: animate infinite 6s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}