*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainContainer{
    margin-top: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer{
    padding: 20px 40px;
    background-color: aqua;
    font-size: 40px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    color: rgb(2, 2, 102);
}

.btnContainer{
    margin-top: 20px;
}

.btnContainer>button{
    padding: 12px 25px;
    border: none;
    background-color: aquamarine;
    margin-right: 10px;
    font-size: 16px;
    color: rgb(0, 0, 107);
    font-weight: 600;
    cursor: pointer;
}